/* START reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END reset css */


html, body {
  text-align: center;

  background-color: #FAFAFA;

  font-family: Arial;
}

.title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  font-size: 2em;
}

.board {
  width: 40%;
  /* Height is runtime */
  margin-left: 2%;
  margin-right: 2%;

  padding-bottom: 20%;

  display:inline-block;

  border: 1px solid black;

  table-layout: fixed;
}

.board td {
  border: 1px solid black;
}

.board .empty {
  background-color: #3498db;
}

.board .ship {
  background-color: #2ecc71;
}

.board .miss {
  background-color: #34495e;
}

.board .hit {
  background-color: #e74c3c;
}

.status {
  margin-top: 1em;

  font-size: 1.6em;
}

.pauseplay {
  border-radius: 3px;

  text-align: center;
  margin: auto;

  margin-bottom: 1em;

  transition: all 0.3s;

  width: 6em;
  height: auto;
  padding: 5px;
  font-size: 1.4em;
  vertical-align: center;

  border: 1px solid rgb(44, 62, 80);
}

.pauseplay:hover {
  color: white;
  background-color: rgb(44, 62, 80);

  cursor: pointer;
}

.pauseplay:active {
  box-shadow: 0 0 8px rgba(44, 62, 80, 0.5);
}

.board td {
  text-align: center;
  vertical-align: middle;
}